<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>

    <main>
      <div class="container">
        <h2 class="text-center mt-5">Gestión de Usuarios</h2>
        <div class="container">
          <form id="newUserForm" action="/users" method="POST">
            <div class="row g-1">
              <div class="col-md-4">
                <label for="newUserName" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  id="newUserName"
                  name="nombre"
                  required
                />
              </div>
              <div class="col-md-4">
                <label for="newUserPassword" class="form-label">Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  id="newUserPassword"
                  name="password"
                  required
                />
              </div>
              <div class="col-md-4">
                <label for="newUserRole" class="form-label">Rol</label>
                <select id="newUserRole" name="rol" class="form-control" required>
                  <% rol.forEach(function(role) { %>
                    <option value="<%= role.id %>"> <%= role.rol %> </option>
                  <% }); %>
                </select>
              </div>
              <div class="col-12 mt-3 text-center">
                <button type="submit" class="btn btn-primary">Crear</button>
              </div>
            </div>
          </form>
        </div>
        
        
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Rol</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(user => { %>
            <tr>
              <td><%= user.nombre %></td>
              <td><%= user.rol %></td>
              <td>
                <button
                  class="btn btn-warning btn-sm"
                  onclick="editUser('<%= user.id %>', '<%= user.nombre %>', '<%= user.password %>', '<%= user.rol_id %>')"
                >
                  Modificar
                </button>
                <form
                  action="/users/<%= user.id %>?_method=DELETE"
                  method="POST"
                  style="display: inline"
                >
                  <button type="submit" class="btn btn-danger btn-sm">
                    Borrar
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

      <div
        class="modal fade"
        id="editUserModal"
        tabindex="-1"
        aria-labelledby="editUserModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editUserModalLabel">
                Modificar Usuario
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form id="editUserForm" action="/users" method="POST">
                
                <div class="mb-3">
                  <label for="userName" class="form-label">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="userName"
                    name="nombre"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="userPassword" class="form-label">Contraseña</label>
                  <input
                    type="password"
                    class="form-control"
                    id="userPassword"
                    name="password"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="userRole" class="form-label">Rol</label>
                  <select id="userRole" name="rol" required>
                    <% rol.forEach(function(role) { %>
                      <option value="<%= role.id %>" <%= role.id === users.rol_id ? 'selected' : '' %>><%= role.rol %></option>
                    <% }); %>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">
                  Guardar Cambios
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include("partials/footer") %>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script>
      function editUser(id, nombre, password, rol_id) {
        
        document.getElementById("userName").value = nombre;
        document.getElementById("userPassword").value = password;
        document.getElementById("userRole").value = rol_id;
        document.getElementById("editUserForm").action =
          "/users/" + id + "?_method=PUT";
        var editUserModal = new bootstrap.Modal(
          document.getElementById("editUserModal")
        );
        editUserModal.show();
      }
    </script>
  </body>
</html>
