<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
    <main>
      <form
        action="/listado"
        method="POST"
        enctype="application/x-www-form-urlencoded"
      >
        <label>Producto: <input type="text" name="item" /></label>
        <label>Descripción: <input type="text" name="descripcion" /></label>
        <label>Precio: <input type="text" name="precio" /></label>
        <label>Stock: <input type="text" name="stock" /></label>

        <input type="submit" value="Crear Nuevo Item" />
      </form>
      <br />
      <h2>Listado</h2>
      <div class="listado-header">
        <h4>Producto</h4>
        <h4>Precio</h4>
        <h4>Descripción</h4>
        <h4>Stock</h4>
      </div>
      <div class="listado-content">
        <% productos.forEach(producto => { %>
          <div class="producto">
            <div><%= producto.nombre %></div>
            <div><%= producto.precio %></div>
            <div><%= producto.descripcion %></div>
            <div><%= producto.stock %></div>
          </div>
        <% }) %>
      </div>

      <!--form action="/landing?_metodo=PUT" method="POST" enctype="application/x-www-form-urlencoded">
  <label>Actualizar: <input type="text" name="update"></label>
  <input type="submit" value="PUT">
</form><br>
<form action="/landing?_metodo=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
  <label>Eliminar: <input type="text" name="delete" value="${valor inyectado}"></label>
  <input type="submit" value="DELETE">
</form-->
    </main>

    <%- include("partials/footer") %>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
