<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
    <main>
      <div class="container">
        <h2 class="text-center mt-1">Gestión de Pedidos</h2>
        <button
          type="button"
          class="btn btn-secondary mt-1"
          onclick="window.location.href='./neworder'"
        >
          <i class="bi bi-plus-circle"></i> Nuevo Pedido
        </button>

        <table class="table table-bordered table-striped text-cemter mt-1">
          <thead>
            <tr class="bg-primary text-white">
              <th scope="col">ID</th>
              <th scope="col">Cliente</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Fecha</th>
              <th scope="col">Total</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% results.forEach((user) => { %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.cliente_id %></td>
              <td><%= user.vendedor_id %></td>
              <td><%= user.fecha_pedido %></td>
              <td>$ <%= user.total %></td>
              <td>
                <form
                  action="/pedidos<%= user.id %>"
                  method="GET"
                  class="d-inline"
                >
                  <button type="submit" class="btn btn-success btn-sm">
                    Ver
                  </button>
                </form>

                <form
                  action="/pedidos/<%= user.id %>?_method=DELETE"
                  method="POST"
                  style="display: inline"
                >
                  <button type="submit" class="btn btn-danger btn-sm">
                    Borrar
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
